@import 'src/style/config/Fonts';

.container {
  &_lounge {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.img {
  position: relative;
  width: 100%;
  height: auto;
  background-size: cover;

  &:before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 8px);
    max-height: 357px;
    content: '';
    background: rgba(41, 61, 66, 0.58);
  }
}


.lounge {
  position: relative;
  display: block;
  margin-bottom: 120px;
  transition: all 0.3s ease;

  &:hover,
  &:focus,
  &:active {
    .lounge-card__link-arrow {
      right: -10px;
      transition: all 0.3s ease;
    }
  }
}

.lounge-card {
  &__date {
    font: 400 20px/1.1 $circeArial;
    position: relative;
    margin: 0 0 5px;
    color: #FFFFFF;

    &:before {
      position: absolute;
      width: 27px;
      height: 27px;
      left: 35px;
      content: '';
      z-index: 1;
      -webkit-clip-path: polygon(50% 0%, 66% 27%, 98% 35%, 76% 57%, 79% 91%, 50% 78%, 21% 91%, 24% 57%, 2% 35%, 32% 27%);
      clip-path: polygon(50% 0%, 66% 27%, 98% 35%, 76% 57%, 79% 91%, 50% 78%, 21% 91%, 24% 57%, 2% 35%, 32% 27%);
      background-color: #5BB9AA;
    }
  }

  &__wrapper {
    max-width: 635px;

    &:nth-of-type(even) {
      margin-top: 40px;
    }
  }

  &__title {
    font: 400 36px/1 $circeArial;
    margin: 0;
    color: #FFFFFF;
  }

  &__img {
    position: relative;
    width: 100%;
    height: auto;
    background-size: cover;
  }

  &__content {
    margin-bottom: 10px;
    padding: 10px;
    transition: all 0.3s ease;

    &:hover,
    &:focus,
    &:active {
      transition: all 0.3s ease;
      background: rgba(32, 180, 171, 0.612);
    }
  }

  &__description-wrapper {
    position: absolute;
    z-index: 1;
    bottom: -50px;
    left: -15px;
    max-width: 340px;
  }

  &__link {
    font: 400 16px/1.5 $circeArial;
    position: relative;
    margin: 0 0 0 10px;
    color: #20B4AB;

    &-arrow {
      position: relative;
      right: -5px;
      transition: all 0.3s ease;
    }

    &:hover,
    &:focus,
    &:active {
      .lounge-card__link-arrow {
        right: -10px;
        transition: all 0.3s ease;
      }
    }
  }
}
